* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


.header-nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FBEAFF;
    background-color: #005042;
    padding-left: 40px;
}


.right-links {
    padding-right: 40px;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    list-style-type: none;

}

#main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.abovetf {
    background-color: #005042;
    display: flex;
    flex-direction: row;
    height: 400px;
    color: #FBEAFF;
    justify-content: center;
    align-items: center;
}

.abovetf-container {
    display: flex;
    height: 50%;
    width: 80%;
}

.abovetf-text-container {
    width: 50%;
}

.abovetf-text {
    flex: 1;
    background-color: red;
    border: solid yellow 5px;
    font-size: 48px;
    font-weight: 700;
}

.abovetf-text > p  {
    font-size: 18px;
}

.btn-signup {
    background-color: #33C279;
    border-radius: 6px;
    font-weight: 700;
    color: #FBEAFF;
    border: none;
    padding: 8px 32px;
    text-align: center;
}

.abovetf-img-container {
    flex: 1;
    background-color: #33C279;
    justify-content: center;
    align-items: center;
}

.abovetf-img {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: #5B8C6D;
}

.portfolio-title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 700;
}

.portfolio-div {

    height: 400px;

}

img {
    width: 200px;
    height: 200px;
}

.portfolio-container  {
    max-width: 200px;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    gap: 52px;
}


.testimonial {
    color: #FBEAFF;
    display: flex;
     height: 400px;
    background-color: #715F58;
    font-size: 36px;
    font-style: italic;
}

.testimonial-qoute {
    flex: 1;
    padding: 80px;
}
.qoute-author {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
}

.cta {
    flex: 1 auto;
    height: 400px;
}

.cta-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 100px;

}

.cta-border {
    display: flex;
    flex-direction: column;
    background-color: #33C279;
    height: 150px;
    width: 80%;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.cta-title {
    color: #FBEAFF;
    display: flex;
    font-weight: 700;
    font-size: 18px;
}

.cta-text {
    color: #FBEAFF;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.cta-btn {
    background-color: #33C279;
    border-radius: 6px;
    border-color: #FBEAFF;
    border-style: solid;
    padding: 8px 24px;
    color: #FBEAFF;
    font-weight: 700;
}



footer {
    display: flex;
    background-color: #005042;
    color: #FBEAFF;
    flex: 0 0 8vh;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* color palette
Cube Palette with off-white text
Background, Urban green, #005042
alternative-bg, grey, #715F58
highligt, #33C279
off-white, #FBEAFF
off-green, #5B8C6D

Link,  
https://mycolor.space/?hex=%23005042&sub=1

*/

