* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
header, footer, nav, .abovetf, .portfolio, .testimonial, .cta {
    padding: 1em;
}
*/

.header-nav {
    color: #f8f8ff;
    display: flex;
    flex-direction: row;
    background-color: #005042;
    flex: 0 0 8vh;
    justify-content: center;
}
.push {
    margin-left: auto;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    flex: 1 0 auto;
    padding: 2px;

}

#main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main > div {
    flex: 1;
}


.abovetf {
    background-color: #005042;
    display: flex;
    flex-direction: row;
    height: 400px;
    color: #f8f8ff;
    justify-content: center;
    align-items: flex-end;
}
.abovetf-text {
    flex: 1;
}
.abovetf-img {
    flex: 1;
}

.portfolio {
    flex: 1 auto;
    height: 400px;
}

.testimonial {
    flex: 1 auto;
    height: 400px;
    background-color: #715F58;
}

.cta {
    flex: 1 auto;
    height: 400px;
}

.cta-btn {
    background-color: #33C279;
    border-radius: 6px;
}



footer {
    background-color: #005042;
    color: #f8f8ff;
    flex: 0 0 8vh;
    text-align: center;
    justify-content: center;
}

/* color palette
Background, Urban green, #005042
alternative-bg, grey, #715F58
highligt, #33C279
off-white, #FBEAFF

Link,  
https://mycolor.space/?hex=%23005042&sub=1

*/

